.formContainer {
  padding-bottom: 35px;
  font-size: 1.3em;
}

.formContainer input {
  width: 30%;
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #555;
}

.formContainer input::placeholder {
  color: #b1b1b1;
}

.formContainer button {
  font-size: 1em;
  border: 1px solid #ff6347;
}

.formContainer button:hover {
  box-shadow: 0 10px 13px 0 rgba(169, 3, 41, 0.24),
    0 17px 50px 0 rgba(169, 3, 41, 0.19);
}

.formContainer button:focus {
  outline: none;
  box-shadow: none;
}

/* 578px */
@media (max-width: 36.125em) {
  .formContainer button {
    width: 30%;
    padding: 0;
  }

  .formContainer input {
    width: 50%;
  }
}
