.App {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 1170px;
  background: url('./images/paper-1763262.png');
  background-size: cover;
  font-family: 'Syne Mono', monospace;
  min-height: 100vh;
}

.Container {
  padding-top: 60px;
}

.Container h1 {
  font-size: 3em;
  padding-bottom: 20px;
}

