.App {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
  font-family: "Syne Mono", monospace;
  min-height: 100vh;
}

.Container {
  padding-top: 60px;
}

/* .Container h1 {
  font-size: 3em;
  padding-bottom: 20px;
} */

/* 1200px */
@media (max-width: 73.125em) {
  .App {
    width: 100%;
  }
}

/* 578px */
@media (max-width: 36.125em) {
}
